- events = @events

.tos
  pre
    |
      Szanowni Państwo,

      zapraszamy na najbliższe Spotkanie z Charakterem!
      Najbliższe spotkania odbędą się w następujących miejscach:
    - events.each do |event|
      |
       <br>✔️#{event.city} (#{event.time.strftime("%H:%M")}) – #{event.place} – #{event.address}

       Wydarzenia

       Miejsce na wklejenie wydarzeń

       Spotkania z Charakterem to otwarte spotkania osób pragnących doskonalić się i dążyć do miana ludzi z klasą - dam i gentlemanów XXI wieku.
       Spotkania służą nawiązywaniu relacji, zacieśnianiu przyjaźni, wymianie poglądów, dzieleniu się pasjami i wiedzą, propagowaniu kultury osobistej, klasycznej elegancji oraz pracy nad własnym charakterem. Odbywają się one w każdy trzeci czwartek miesiąca w kilkunastu miastach Polski.
       Na Spotkaniach poruszamy różnorodne tematy i zapraszamy gości, którzy dzielą się z nami wiedza i pasjami. Dotychczas wysłuchaliśmy m.in.:

       👉 tajniki zawodu aktora - spotkanie z Wojciechem Schabowskim, aktorem Teatru Arlekin w Łodzi (Białystok)
       👉 perfumiarstwo - spotkanie z pasjonatem zapachów Maciejem Skorowskim; (Białystok)
       👉 spotkanie z Victorian Voguers (https://www.facebook.com/victorianvoguers/); (Białystok)
       👉 broń palna – Bartosz Czerniawski (Gdańsk)
       👉 relacja z Madagaskaru – Jakub Kaczmarczyk (Kraków)
       👉 krawiectwo męskie miarowe wg Marcina Bogusławskiego (Łódź)
       👉 spacer historyczny po Łęczycy i Tumie – Adam Zygmunciak (Łódź)
       👉 LARPy – Łukasz Kielban, Łukasz Garczewski, Izabela Zagdan (Poznań)
       👉 Podróż do Czarnobyla – Bartosz Jarzyna (Poznań)
       👉 Kluby motocyklowe – Jan Kobusiewicz, Maciej Krol (Poznań)
       👉 Egzorcyzmy z naukowego punktu widzenia – Kalina i Rafał Chodziccy (Warszawa)
       👉 praca krupiera – Krzysztof Kowalczuk (Warszawa)

       Przypominamy również, że umożliwiamy także integrację online.
       Zainteresowanych proszę o kierowanie się poniższą instrukcją:

       1. Założyć konto tutaj: https://discordapp.com/
       2. Udział w spotkaniu można wziąć poprzez:
         - klienta z przeglądarki (po zalogowaniu)
         - zainstalowany na komputerze program (https://discordapp.com/download)
         - aplikację mobilną (szukaj w App/Google store)
       3. Kliknąć zaproszenie: https://discordapp.com/invite/FrdGzMK
       4. Wybrać kanał Prelekcje lub inny dowolny.

       Więcej informacji: https://lzg.org.pl/spotkania/
       #SpotkaniazCharakterem #CzasGentlemanów #LigaZwyczajnychGentlemanów
