#fb-root
script[async defer crossorigin="anonymous" src="https://connect.facebook.net/pl_PL/sdk.js"]

h1 Spotkania z Charakterem
.fb-login-button[data-size="large" data-button-type="login_with" data-layout="default" data-auto-logout-link="true" data-use-continue-as="false" data-width="" data-scope="public_profile, email" data-onlogin="checkLoginState()"]
#status
